footer {
    height: 50px;
    margin-top: 25px;
    position: sticky;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 5px 15px 5px 5px;
    display: flex;
    justify-content: flex-end;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
}

.footer-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#footer {
    display: none;
}
