.btn-outline-secondary {
    background-color: white;
    color: black;
    border: 1px solid #ced4da;
    width: 75px;
}

.form-control:focus {
    color: black;
    border-color: #6c757d;
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5)
}

.search-area {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    width: 65%;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
}