body {
    background: url(./images/bg-image.jpg) no-repeat center center fixed;
    background-size: cover;
    color: white;

    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    border: 1px solid black; /* for demo purposes */
}

a {
    color: white;
    text-decoration: none;
    background-color: transparent;
    transition: transform 0.4s;
}

a:hover {
    color: #fff;
    transform: scale(2);
}

p {
    margin: 0;
    padding: 10px;
}

form {
    width: 100%;
}

img {
    width: 100%;
}

.container-fluid {
    padding: 0 0 0 0;
}

#root {
    display: table-cell;
    vertical-align: middle;
}